* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.row {
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.a1,
.a2,
.a3 {
  padding: 1%;
  width: 90%;
  border: 1px solid black;
  font-size: medium;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.a1 {
  background-color: aquamarine;
  position: relative;
  padding-top: 20px;
}

.a2 {
  background-color: burlywood;
  position: relative;
  padding-top: 20px;
}

.a3 {
  background-color: blanchedalmond;
  position: relative;
  padding-top: 20px;
}

.chicken {
  background-color: lightcoral;
  color: darkgreen;
  width: 100px;
  height: 20px;
  text-align: center;
  right: 0px;
  top: -1px;
  position: absolute;
  border: 1px black solid;
}

.Beef {
  background-color: lightblue;
  color: darkgreen;
  width: 100px;
  height: 20px;
  text-align: center;
  right: 0px;
  top: -1px;
  position: absolute;
  border: 1px black solid;
}

.Sushi {
  background-color: cyan;
  color: brown;
  width: 100px;
  height: 20px;
  text-align: center;
  right: 0px;
  top: -1px;
  position: absolute;
  border: 1px black solid;
}

@media (min-width: 992px) {
  .col-md-4,
  .col-md-1 {
    float: left;
    width: 33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4 {
    width: 50%;
    float: left;
  }

  .col-md-1 {
    margin-left: -20px;
    width: 105%;
    float: left;
  }
}
